<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div th:insert="fragments/navbar :: navbar"/>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Tech Talent Store</h1>
            <p>This is a small ecommerce application that allows the user to purchase some of a few products that are offered here. </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/image/1/iphonexfrontback-800x573.jpg}" style="width: 100%;height: 250px;object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">iPhone X</h5>
                        <p class="card-text">Buy It. </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/image/2/iphone8-silver-select-2017.jpg}" style="width: 100%;height: 250px;object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 8 Silver</h5>
                        <p class="card-text">It's old.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/image/3/C7_ST_Desktop_Front.jpg}" style="width: 100%;height: 250px;object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">LG C7 4K TV</h5>
                        <p class="card-text">Watch the TV.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/image/4/apple_mlh32ll_a_15_4_macbook_pro_with_1293726.jpg}"
                         style="width: 100%;height: 250px;object-fit: cover; " alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Macbook pro 15" with Touchbar</h5>
                        <p class="card-text">How 'bout that touch bar?</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

    </div> <!-- /container -->

</main>

<div th:insert="fragments/footer :: footer"/>
</body>
</html>